<div ng-controller="ProductIdController">

    <img ng-src="{{ product.photo }}" />

    <div class="form-group ">
    	<label for="name"> Name:</label>
        {{product.name}}
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        {{product.description}}
    </div>

<div>
