<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<script src="{% static "js/libs/lodash.js" %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

<script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>
<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<link href="{% static "css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css" />
<link href="{% static "css/highslide.css" %}" media="all" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<!--<link href="{% static "css/bootstrap-slider.css" %}" rel="stylesheet"/>-->
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    {% if user.is_authenticated %}
    <p class="navbar-text navbar-left"> {{user.username}}</p>
    {% else%}
    <p class="navbar-text navbar-left"> {{Registration}}</p>
    {% endif %}

    <a href="../login/"> {% if not user.is_authenticated %}
                        <p class="navbar-text navbar-right">. LogIn .</p>
                        {% endif %}
    </a>
    <a href='../../logout'>{% if  user.is_authenticated %}
                        <p class="navbar-text navbar-right">. Exit .</p>
                        {% endif %}</a>
    <a href='../../'> {% if  user.is_authenticated %}
                        <p class="navbar-text navbar-right">. Product .</p>
                        {% endif %}</a>
    <a href='{% url 'personal_kabinet' user.id %}'>{% if  user.is_authenticated %}
                        <p class="navbar-text navbar-right">. Personal .</p>
                        {% endif %}</a>
  </div>
</nav>

    <div id="content"  ng-app="productApp" class="container">
        {% block content %}{% endblock %}
    </div>

{% block footer %}
    <!--<div class="col-xs-offset-6 col-sm-offset-4 col-xs-6 col-sm-4 col-xs-offset-6 col-sm-offset-4">-->
        <!--<p ><center>Thanks for visiting my site.</center></p>-->
    <!--</div>-->
{% endblock %}

    <script src="{% static "js/files/controller.js" %}"></script>

    <script src="{% static "js/libs/star-rating.js" %}"></script>
    <script src="{% static "js/libs/star-rating.min.js" %}"></script>
    <script src="{% static "js/libs/highslide.min.js" %}"></script>
    <script src="{% static "js/libs/highslide-with-gallery.js" %}"></script>

    {% block extra_javascript %}{% endblock extra_javascript %}
    </body>
</html>
