{% extends 'my_angular/base.html' %}
{% block title %}Django !{% endblock %}
{% block content %}



<div class="row">
    <div class = "col-xs-3" >

        <div class="content" ng-controller="ProductController">

                <div class="panel-body">
                    {%verbatim%}
                        <ul class="list-group" ng-repeat="product in productList">
                            <li class="list-group-item" >
                                <a href="#/product_id/{{product.pk}}">
                                {{product.pk}}.
                                {{product.name}}
                                </a>
                            </li>
                        </ul>
                    {%endverbatim%}

            </div>
        </div>
    </div>

    <div ng-view class="view col-xs-9">
    HEllo!!
    </div>
</div>

{% endblock %}

{% load staticfiles %}
{% block extra_javascript %}
<script src="{% static "js/files/product_controller.js" %}"></script>
<script src="{% static "js/files/product_id_controller.js" %}"></script>

{% endblock extra_javascript %}