{% extends 'my_angular/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}


<form role="form" action='' method='post' data-toggle="validator">{% csrf_token %}
  <div class="form-group col-md-6 col-md-offset-3 ">
    <label  for="username">Username:</label>
      <input class="form-control" id="id_username" maxlength="254" name="username" type="text" />
   <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-6 col-md-offset-3 ">
    <label  for="pass">Password</label>
     <input class="form-control" id="id_password" name="password" type="password" />
  </div>
  <div class="form-group col-md-6 col-md-offset-3">
     <button type="submit" class="btn btn-primary"  value="Send"> Send</button>
  </div>

	</form>



{% endblock %}
