{% extends 'my_angular/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}


<div class="form-group col-md-6 col-md-offset-3">
    <label for="user_name"> User name:</label>
    <textarea class="form-control" id="id_text" name="first_name" rows=1 width="50px" >{{user.username }}</textarea>
</div>
<div class="form-group col-md-6 col-md-offset-3">
    <label for="client_id"> Client id:</label>
    <textarea class="form-control" id="id_text" name="last_name" rows=1 width="50px" >{{client_id}}</textarea>
</div>
<div class="form-group col-md-6 col-md-offset-3">
    <label for="client_secret"> Client secret:</label>
    <textarea class="form-control" id="id_text" name="email" rows=3 width="50px" >{{client_secret}}</textarea>
</div>


</div>
</form>


{% endblock %}

