<div ng-controller="ProductIdController">
<div class="container">
  <!-- Trigger the modal with a button -->
    <img id='image' width="150px" height="150px" data-toggle="modal" data-target="#myModal" ng-src="{{ product.photo }}" />

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <img id='image' width="300px" height="300px" ng-src="{{ product.photo }}" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

     <div class="form-group ">
       <h1> {{product.name}} </h1>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        {{product.description}}
    </div>
    <input id="rates" type="number" ng-model="selected_rate">

 <div ng-if="log!=false">

      <label for="comment_content" >Add new comment:</label>
      <button class="btn btn-default  pull-right"  ng-click="submitComment(selected_description)">Submit</button>
      <textarea class="form-control" id="id_text" name="content" rows=1  width="50px" ng-model="selected_description ">
      </textarea>


 </div>
    <div ng-if="error">
        <div class="alert alert-warning norecordsL" role="alert">{{error}}</div>
    </div>

    <div  ng-repeat="c in comment" class="panel panel-info">


      <div class="panel-heading"> {{c.user.username}}<br>
          {{c.date | date:'dd-MM-yyyy HH:mm:ss'}}
        </div>
      <div class="panel-body">
          Rate:{{c.rate}}<br>
          <br>
        {{c.text}}</div>
    </div>
<div>

