 <div class="content" ng-controller="ProductController">
            <div class="panel panel-default">
                <div class="panel-body">
                        <ul class="list-group" ng-repeat="product in productList">
                            <li class="list-group-item" >

                                {{product.pk}}.
                                {{product.name}}<br>
                                {{product.description}}

                            </li>
                        </ul>
                    </div>
            </div>
            </div>